In [3]:
import pandas as pd

In [8]:
SP500_Comp = pd.read_csv('sp500_index.csv')
SP500_Comp

            Date   S&P500
0     2013-02-04  1495.71
1     2013-02-05  1511.29
2     2013-02-06  1512.12
3     2013-02-07  1509.39
4     2013-02-08  1517.93
...          ...      ...
2514  2023-01-30  4017.77
2515  2023-01-31  4076.60
2516  2023-02-01  4119.21
2517  2023-02-02  4179.76
2518  2023-02-03  4136.48

[2519 rows x 2 columns]