In [1]:
#import dependencies

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
gdp_as_percent_of_us = pd.read_csv("GDP_Resources/GDP_as_percent_US.csv")
gdp_as_percent_of_us

,GeoFips,GeoName,LineCode,Description,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2,2022:Q3
0,1000,Alabama,1,All industry total,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1000,Alabama,2,Private industries,1.0,1.0,1.0,1.0,1.0,1.0,1.1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",1.2,1.2,1.2,1.3,1.4,0.7,0.9,1.0,1.4,1.2,1.4,1.4,1.6,1.8,1.8
3,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",0.6,0.6,0.6,0.6,0.7,0.9,0.9,0.7,0.7,0.6,0.5,0.5,0.6,0.6,0.5
4,1000,Alabama,10,Utilities,2.0,2.0,1.9,1.9,1.9,1.9,1.9,2.0,1.8,1.9,1.9,1.9,1.8,1.9,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,56000,Wyoming,82,Other services (except government and go...,0.1,0.1,0.1,0.1,0.1,0.2,0.2,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1346,56000,Wyoming,83,Government and government enterprises,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2
1347,56000,Wyoming,84,Federal civilian,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2
1348,56000,Wyoming,85,Military,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2
1349,56000,Wyoming,86,State and local,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [17]:
gdp_by_state = pd.read_csv("GDP_Resources/GDP_in_millions_USD.csv")
gdp_by_state

,GeoFips,GeoName,LineCode,Description,2019:Q1,2019:Q2,2019:Q3,2019:Q4,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2,2022:Q3
0,1000,Alabama,1,All industry total,228676.3,230521.9,233042.0,234007.4,234320.7,214635.2,236544.9,238067.4,244364.0,251708.4,256089.6,264277.0,269436.4,275396.0,280219.7
1,1000,Alabama,2,Private industries,191741.9,193163.7,194851.5,195422.5,195038.7,175850.8,196886.7,198235.5,204240.1,210924.1,214754.9,222765.8,227583.9,233134.1,237352.0
2,1000,Alabama,3,"Agriculture, forestry, fishing and hunting",1852.0,1875.0,1985.0,2161.0,2428.7,862.0,1372.7,1741.6,2494.5,2512.5,3112.3,3087.4,4185.4,5120.6,5191.0
3,1000,Alabama,6,"Mining, quarrying, and oil and gas extra...",1871.3,1822.4,1822.4,1857.4,1807.8,1203.6,1680.6,1664.3,1845.5,1745.3,1745.3,2121.0,2475.1,3013.1,2847.6
4,1000,Alabama,10,Utilities,6451.2,6502.5,6526.8,6541.9,6197.3,6255.1,6651.0,6946.5,6846.9,6963.7,7093.2,7638.2,7155.0,8392.3,8813.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,56000,Wyoming,82,Other services (except government and go...,648.4,646.5,661.4,671.8,685.1,583.6,655.2,665.5,660.3,669.7,698.7,719.1,737.6,751.9,788.7
1346,56000,Wyoming,83,Government and government enterprises,6400.8,6372.7,6444.9,6517.7,6580.6,6462.9,6562.9,6647.9,6786.8,6754.8,6881.2,6818.9,6910.0,6966.3,7094.1
1347,56000,Wyoming,84,Federal civilian,935.3,949.9,945.3,956.5,980.4,1005.7,1014.2,1031.9,1033.6,1039.2,1027.4,1031.4,1036.8,1052.3,1067.6
1348,56000,Wyoming,85,Military,437.1,438.0,440.8,444.0,448.1,464.8,470.0,475.8,491.3,502.3,502.2,508.3,506.2,506.7,514.6
1349,56000,Wyoming,86,State and local,5028.4,4984.8,5058.8,5117.2,5152.1,4992.3,5078.7,5140.2,5261.9,5213.3,5351.6,5279.1,5367.0,5407.3,5511.9

In [18]:
gdp_by_industry = pd.read_csv("GDP_Resources/gross_output_by_industry_in_billions.csv")
gdp_by_industry

,Line,Unnamed: 1,2019,2019.1,2019.2,2019.3,2020,2020.1,2020.2,2020.3,2021,2021.1,2021.2,2021.3,2022,2022.1,2022.2
0,Line,NaN,Q1,Q2,Q3,Q4,Q1,Q2,Q3,Q4,Q1,Q2,Q3,Q4,Q1,Q2,Q3
1,1,All industries,37195.0,37686.5,37968.9,37988.4,37584.4,34056.5,36755.8,37851.3,39371.3,40874.4,42080.3,43293.0,44579.4,45972.9,46562.9
2,2,Private industries,33161.7,33591.7,33838.9,33823.9,33411.7,29927.4,32587.3,33646.1,35006.8,36442.1,37582.2,38717.6,39908.4,41156.8,41675.7
3,3,"Agriculture, forestry, fishing, and hunting",433.7,434.6,439.8,448.0,459.7,411.1,444.4,475.9,478.6,531.0,548.4,546.2,598.1,640.4,653.4
4,4,Farms,382.0,384.1,389.5,395.9,406.1,361.4,391.1,418.9,420.6,473.1,487.7,485.3,533.7,576.1,584.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,Government enterprises,373.3,373.2,377.2,377.3,359.2,305.2,333.3,340.0,353.1,373.3,390.4,398.0,411.7,428.2,434.7
98,NaN,Addenda:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,98,Private goods-producing industries1,8820.0,8887.8,8827.1,8713.8,8580.9,7442.5,8167.0,8454.8,8892.7,9263.7,9586.3,10008.2,10459.9,11007.9,11022.0
100,99,Private services-producing industr...,24341.8,24703.9,25011.8,25110.2,24830.8,22484.9,24420.3,25191.3,26114.1,27178.5,27995.9,28709.4,29448.5,30149.0,30653.6
101,100,Information-communications-technol...,---,---,---,---,---,---,---,---,---,---,---,---,---,---,---